<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.elewa.assignment.model.User"/>
        <typeAlias alias="Task" type="com.elewa.assignment.model.Task"/>
        <typeAlias alias="Department" type="com.elewa.assignment.model.Department"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/TaskMapper.xml"/>
        <mapper resource="mappers/DepartmentMapper.xml"/>
    </mappers>
</configuration>
