<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
</head>
<body>
<!--<h1>User Management</h1>-->
<a th:href="@{/admin/users/new}">Create New User</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <a th:href="@{/admin/users/assign-manager/{id}(id=${user.id})}">Assign Manager</a>
            <a th:href="@{/admin/users/assign-employee/{id}(id=${user.id})}">Assign Employee</a>
            <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
