<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../js/dashboard.js"></script>
    <title>User Management</title>
</head>
<body>
    <div id="theUsers">
        <div th:replace="~{landing :: navbar}"></div>

        <!--<h1>User Management</h1>-->
        <a th:href="@{/admin/users/new}">Create New User</a>
        <table id="usersTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{/admin/users/assign-manager/{id}(id=${user.id})}">Assign Manager</a>
                    <a th:href="@{/admin/users/assign-employee/{id}(id=${user.id})}">Assign Employee</a>
                    <!--                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a>-->
                    <a href="#" class="delete-link">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
