@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Itim&family=Karla:wght@400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

.menu {
    float: left;
    background-color: blue;
    width: 12%;
    height: 90vh;
    margin-right: 4rem;
}

h1 {
    font-family: 'Crimson Text', serif;
}

.menu a {
    font-family: 'Crimson Text', serif;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 4em;
    margin: 15px;
    padding: 8px;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
    color: darkseagreen;
}

.dashboard {
    float: right;
    width: 75%;
    height: 80vh;
}

table {
    width: 65%;
    font-family: 'Karla', sans-serif;
    border-collapse: collapse;
    background-color: lightgrey;
}

table th {
    background-color: rgb(55, 160, 47);
    padding: 12px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead {
    padding: 16px;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.btn-danger {
    background-color: #fc2f2f;
    color: white;
}

a {
    padding: 8px;
    background-color: rgba(114, 140, 253, 0.8);
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    * {
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    * {
        margin: auto;
    }
}

/* HTML: <div class="loader"></div> */
/*.loaderUsers {*/
/*    --d:22px;*/
/*    width: 4px;*/
/*    height: 4px;*/
/*    border-radius: 50%;*/
/*    color: #25b09b;*/
/*    box-shadow:*/
/*            calc(1*var(--d))      calc(0*var(--d))     0 0,*/
/*            calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,*/
/*            calc(0*var(--d))      calc(1*var(--d))     0 2px,*/
/*            calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,*/
/*            calc(-1*var(--d))     calc(0*var(--d))     0 4px,*/
/*            calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,*/
/*            calc(0*var(--d))      calc(-1*var(--d))    0 6px;*/
/*    animation: l27 1s infinite steps(8);*/
/*}*/
/*@keyframes l27 {*/
/*    100% {transform: rotate(1turn)}*/
/*}*/