<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assign Roles</title>
</head>
<body>
<h1>Assign Roles</h1>
<form th:action="@{/admin/create-roles}" method="post">
    <div th:each="user : ${users}">
        <span th:text="${user.username}"></span>
        <select name="role" th:value="${user.role}">
            <option value="ROLE_MANAGER">Manager</option>
            <option value="ROLE_EMPLOYEE">Employee</option>
        </select>
        <button type="submit" th:value="${user.id}">Assign</button>
    </div>
</form>
</body>
</html>
