<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../js/dashboard.js"></script>
    <title>Landing Page</title>
</head>
<body>
    <div id="theHome">
        <div class="menu" th:fragment="navbar">
            <a href="#" onclick="loadingHome('/')">Home</a>
            <a href="#" onclick="loadingUsers('/admin/users')">Users</a><br>
            <a href="#" onclick="loadingDep('/admin/departments')">Departments</a><br>
            <a href="#" onclick="loadingTasks('/manager/tasks')">Tasks</a>
        </div>
        <div class="dashboard">
            <h1 th:text="${companyName}">Company Name</h1>
            <p th:text="${companyDetails}">Company Details</p>
            <a th:href="@{/login}">Log In</a>
            <a th:href="@{/signup}">Sign Up</a>
        </div>
    </div>

    <div id="loaderUsers"></div>
    <div id="theUsers"></div>
    <div id="theDep"></div>
    <div id="theTasks"></div>
</body>
</html>
